.mainDivContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    row-gap: 10px;
    align-content: center;
    justify-content: space-around;
    align-items: baseline;
}
@font-face {
    font-family: 'yekan'; /* Choose a suitable name for your font */
    src: url('./Yekan.ttf') format('truetype');
    /* Add more font formats (e.g., woff, woff2) for cross-browser support */
  }
  *{
    font-family: 'yekan';
    font-size: 18px;
  }
  .lotteryFrom{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    background-color: #084C7C;
    padding: 2vw;
    border-radius: 10px;
    
  }
  .lotteryFrom label{
    color: white;
  }
  .lotteryFrom input{
    border-radius: 5px;
    border:none;
    padding: 0.5vw;
  }
  .lotteryFrom button{
    border-radius: 5px;
    border: none;
    padding: 0.5vw;
    background-color: blanchedalmond;
    transition: 0.3s;
  }
  .lotteryFrom button:hover{
    background-color: #FF6600;
    color: white;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Place the overlay above other elements */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  }
  
  /* Adjust these styles to your needs */
  .gifImage {
    max-width: 100%; /* Adjust the maximum width as needed */
    max-height: 100vh; /* Set the maximum height to the viewport height */
  }
  .fullContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header{
    background-color: #F0F0F0;
    height: 3%;
    z-index: 5;
    padding: 2rem;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
  }
  .header img{
    height: 4.3rem;
    
  }
  .header h3{
    font-size: 1.2rem;
    color: #084C7C;
  }
  .formContainer{
    padding-right:10vw;
    padding-left:10vw;
    padding-top:5vw;
  }
  .winnerList {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into multiple lines */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    gap: 10px; /* Adjust the gap between items */
  }
  
  .winnerList li {
    /* Style individual list items as needed */
    background-color: #ff7300;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
  
    /* Add other styles as needed */
  }

  
  
  
  
  
  